<!doctype html>
<html>
  <head>
    <title>WiFi Issue Map</title>
  </head>
  <body>
    <div id="wrapper">
      <h1>WiFi Issue Map</h1>
      <svg id="drawing" width="800" height="600"> 
        <rect x="0" y="0" width="800" height="600" fill="#eee" />
        <rect x="0" y="0" width="600" height="120"/>
        <rect x="600" y="0" width="200" height="120" fill="#dda" />
        <rect x="0" y="120" width="400" height="120"/>
        <rect x="400" y="120" width="120" height="120" fill="#aaf"/>
        <text x="650" y="50" font-family="Sans-Serif" font-size="12">Check-In Area</text>

        <!-- ms -->
        <rect x="410" y="130" width="40" height="40" fill="#f44"/>
        <rect x="410" y="180" width="40" height="40" fill="#44f"/>
        <rect x="460" y="180" width="40" height="40" fill="#ff4"/>
        <rect x="460" y="130" width="40" height="40" fill="#4f4"/>

        <circle cx="200" cy="280" r="30" stroke="black" stroke-width="3" fill="#3f3" />
        <text x="175" y="280" font-family="Sans-Serif" font-size="12">Still Only</text>
        <text x="180" y="295" font-family="Sans-Serif" font-size="12">$5/mo</text>
        
        <text x="30" y="450" font-family="Sans-Serif" font-size="20" transform="rotate(270, 30, 450)">PIZZA</text>
        
      </svg>
      <p><div>Full Name: </div><input id="name" type="text" size="25" value=""></p>
      <p><div>Email: </div><input id="email" type="text" size="25" value=""></p>
      <p><div>Issue (e.g. no connection, weak signal, slow connections): </div><input id="issue" type="text" size="25" value=""></p>
      <p><button type="button">Submit!</button></p>
    </div>

    <script>
      var s = document.querySelector('svg');
      var b = document.querySelector('button');
      var p = s.createSVGPoint();
      var rc = document.createElementNS("http://www.w3.org/2000/svg", "circle");
      var et = document.createElementNS("http://www.w3.org/2000/svg", "text");
      s.appendChild(rc);
      s.appendChild(et);

      function point(e) {
        if (e.pageX || e.pageY) {
          p.x = e.pageX;
          p.y = e.pageY;
        } else {
          p.x = e.clientX + document.body.scrollLeft + document.documentElement.scrollLeft;
          p.y = e.clientY + document.body.scrollTop + document.documentElement.scrollTop;
        }

        p.x -= s.offsetLeft;
        p.y -= s.offsetTop;
        console.log("x: " + p.x + ", y: " + p.y);
      }

      s.addEventListener('mousemove', function(e) {
      }, false);

      s.addEventListener('click', function(e) {
        point(e);
        rc.setAttribute("cx", p.x);
        rc.setAttribute("cy", p.y);
        rc.setAttribute("r",  10);
        rc.setAttribute("fill", "red");

        et.setAttribute("x", p.x - 40);
        et.setAttribute("y", p.y + 30);
        et.setAttribute("font-size", 16);
        et.textContent = "here be issues";
      });

      b.addEventListener('click', function(e) {
        post_to_url('/report', {
          'x': p.x,
          'y': p.y,
          'name': document.getElementById("name").value,
          'email': document.getElementById("email").value,
          'issue': document.getElementById("issue").value 
        });
      });

/* http://stackoverflow.com/questions/133925/javascript-post-request-like-a-form-submit */
function post_to_url(path, params, method) {
    method = method || "post"; // Set method to post by default if not specified.

    // The rest of this code assumes you are not using a library.
    // It can be made less wordy if you use one.
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);

    for(var key in params) {
        if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);

            form.appendChild(hiddenField);
         }
    }

    document.body.appendChild(form);
    form.submit();
}

    </script>
  </body>
</html>

